/*style for contact form*/
/*style for table*/
/* style for button */
/*details table style*/
.wrapper-main {
	min-height: 100vh;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
}
.form-control {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: black;
	text-align: left;
}

.form-control label {
  padding-left: 5px;
}

.form-wrapper {
	width: 50%;
	margin: auto;
	label {
		margin-right: 10px;
	}
}
.contact-form {
	input {
		padding: 3px 7px;
		width: 100%;
		height: 40px;
		font-size: 14px;
		margin: 5px;
	}
}
.form-button {
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	background-color: black;
	color: white;
}
.text-error {
	color: red;
}
.table {
	display: table;
	text-align: center;
	width: 80%;
	margin: 5% auto 0;
	border-collapse: separate;
	font-weight: 400;
}
.table_row {
	display: table-row;
	>.table_small {
		>.table_cell {
			&:nth-child(odd) {
				display: none;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
	&:nth-child(2n+3) {
		background: #e9e9e9;
	}
}
.theader {
	display: table-row;
}
.table_header {
	display: table-cell;
	border: rgb(82, 78, 78) 1px solid;
	background-color: black;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 700;
}
.table_small {
	display: table-cell;
	border-bottom: rgb(82, 78, 78) 1px solid;
	border-right: rgb(82, 78, 78) 1px solid;
	border-left: rgb(82, 78, 78) 1px solid;
}
.btn {
	font-size: inherit;
	padding: 5px 7px;
	border-radius: 5px;
	color: white;
	border: none;
}
.btn-details {
	text-decoration: none;
	background-color: #218bff;
}
.red {
	background-color: red;
}
.green {
	background-color: green;
}
.dt-table-th {
	width: 25%;
	text-align: center;
	padding: 8px;
	border: 1px solid grey;
	border-style: inset;
}
.dt-table-td {
	width: 25%;
	text-align: center;
	padding: 8px;
	border: 1px solid grey;
	border-style: inset;
}
.d-none {
	display: none;
}
@media screen and (max-width: 900px) {
	.table {
		width: 90%;
	}
}
@media screen and (max-width: 650px) {
	.table {
		display: block;
	}
	.table_row {
		&:nth-child(2n+3) {
			background: none;
		}
		>.table_small {
			>.table_cell {
				&:nth-child(odd) {
					display: table-cell;
					width: 50%;
				}
			}
		}
		display: table;
		width: 100%;
		border-collapse: separate;
		padding-bottom: 20px;
		margin: 5% auto 0;
		text-align: center;
	}
	.theader {
		display: none;
	}
	.th-sm-bg {
		background-color: black;
		color: white;
	}
	.table_cell {
		display: table-cell;
		width: 50%;
		&:nth-child(even) {
			background-color: #e9e9e9;
		}
	}
	.table_small {
		display: table-row;
	}
}

