/*style for contact form*/
.wrapper-main {
	min-height: 100vh;
	width: 90%;
	display: flex;
	flex-direction: column;
	margin: auto;
}

 /*style for form*/

.form-container {
	width:60%;
	clear: both;
	margin: auto;
	text-align: left;
  }

.form-container {
	input[type=text]{
		width: 100%;
		clear: both;
		padding: 10px 15px;
		margin: 10px 0px;
		font-size: 16px;
		border: 3px solid #555;
		border-radius: 5px;
		box-sizing: border-box;
	}
	input[type=text]:focus{
		outline: 3px solid lightblue;
		border: none;
	}
	label {
		font-size: 16px;
	}
	.submit-button {
		width:auto;
		background-color: black;
		border: none;
		color: white;
		border-radius: 5px;
		padding: 10px 20px;
		font-size: 16px;
	}
}

.text-center {
	text-align: center;
}
.text-error {
	color: red;
}


/*style for table*/

.table {
	display: table;
	text-align: center;
	width: 80%;
	margin: 5% auto 0;
	border-collapse: separate;
	font-weight: 400;
	margin-bottom: 20px;
}
.table_row {
	display: table-row;
	>.table_small {
		>.table_cell {
			&:nth-child(odd) {
				display: none;
				padding-top: 10px;
				padding-bottom: 10px;
			}
			padding-top: 5px;
			padding-bottom: 5px;
		}
	}
	&:nth-child(2n+3) {
		background: #e9e9e9;
	}
}
.theader {
	display: table-row;
}
.table_header {
	display: table-cell;
	border: rgb(82, 78, 78) 1px solid;
	background-color: black;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 700;
}
.table_small {
	display: table-cell;
	border-bottom: rgb(82, 78, 78) 1px solid;
	border-right: rgb(82, 78, 78) 1px solid;
	border-left: rgb(82, 78, 78) 1px solid;
}

/* style for button */

.btn {
	font-size: inherit;
	padding: 5px 7px;
	border-radius: 5px;
	color: white;
	border: none;
}
.btn-details {
	text-decoration: none;
	background-color: #218bff;
}
.red {
	background-color: red;
}
.green {
	background-color: green;
}

.d-none {
	display: none;
}
@media screen and (max-width: 900px) {
	.table {
		width: 90%;
	}
}
@media screen and (max-width: 650px) {
	.table {
		display: block;
	}
	.table_row {
		&:nth-child(2n+3) {
			background: none;
		}
		>.table_small {
			>.table_cell {
				&:nth-child(odd) {
					display: table-cell;
					width: 50%;
				}
			}
		}
		display: table;
		width: 100%;
		border-collapse: separate;
		padding-bottom: 20px;
		margin: 5% auto 0;
		text-align: center;
	}
	.theader {
		display: none;
	}
	.th-sm-bg {
		background-color: black;
		color: white;
	}
	.table_cell {
		display: table-cell;
		width: 50%;
		&:nth-child(even) {
			background-color: #e9e9e9;
		}
	}
	.table_small {
		display: table-row;
	}
}

