/*style for contact form*/

.wrapper-main {
    min-height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center
}

.form-control {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:black;
    text-align: left
}
.form-wrapper {
    width: 50%;
    margin: auto;
}

.form-wrapper label {
    margin-right: 10px;
}
.contact-form input {
    padding: 3px 7px;
    width: 100%;
    height:40px;
    font-size: 14px;
    margin: 5px;
}

.form-button {
    padding: 10px 20px; 
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background-color: black;
    color: white;
}

/*style for table*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin:auto;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .text-error {
    color: red;;
  }

  /* style for button */

  .btn {
    font-size: inherit;
    padding: 5px 10px;
    border-radius: 5px;
    color:white;
    border: none;
  }

  .btn-details {
    text-decoration: none;
    background-color: #218bff;
  }

  .red {
    background-color: red;
  }

  .green {
    background-color: green;
  }